<% if (!buku) { %>
<div class="alert alert-danger" role="alert">
  Data Buku tidak ada. <a href="/daftarbuku" class="alert-link"><br />&laquo;Kembali ke daftar buku</a>.
</div>
<% } else {%>
<div class="container mt-3">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title"><%= buku.judulbuku %></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary"><%= buku.penulis %></h6>
      <p class="card-text"><%= buku.terbit %></p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, minus perferendis?</p>
      <a href="/daftarbuku/edit/<%= buku.judulbuku %>" class="btn btn-info">edit</a>
      <a href="/daftarbuku/delete/<%= buku.judulbuku %>" class="btn btn-danger" onclick="return confirm ('yakin ingin menghapus');">delete</a>
      <a href="/daftarbuku" class="card-link d-block mt-3">Kembali ke Daftar buku</a>
    </div>
  </div>
</div>

<% } %>
